<p id="notice"><%= notice %></p>

<div class="section">
  <div class="container is-centered">
    <div class="columns is-centered is-fluid">
      <div class="column is-4">
        <% @posts.each do |post| %>
          <div class="box">
            <div class="media">
              <div class="media-content">
                <div class="has-text-left is-size-4"><%= post.title %></div>
                <div class="has-text-left"><%= post.body %></div>
                <% if user_signed_in? %>
                  <div class="navbar has-shadow">
                    <div class="navbar-item">
                      <div class="has-text-left is-size-6">
                        Created <%= time_ago_in_words(post.created_at) %> ago
                      </div>
                    </div>
                    <div class="navbar-item">
                      <div class="has-text-right is-size-7">
                        by @<%= post.user.username %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        <% end %>
        <div class="has-text-centered button is-fullwidth ">
              <%= link_to 'New Post', new_post_path %>
        </div>
      </div>
    </div>
  </div>
</div>