<div class="navbar has-background-warning">
  <div class="navbar-start">
    <div class="navbar-item">
      <%= link_to "Members Only", root_path %>
    </div>
  </div>
  <div class="navbar-end">
    <% if user_signed_in? %>
    <div class="navbar-item has-text-centered is-size-4 has-text-black"> <%= current_user.username.humanize %> </div>
    <div class="navbar-item"> <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'button' %> </div>
    <% else %>
    <div class="navbar-item">
      <%= link_to 'Sign up', new_user_registration_path %>  
    </div>
      <div class="navbar-item">
      <%= link_to 'Login', new_user_session_path %>  
    </div>
    <% end %>
    </div>
</div>